.summary {
  display: flex;
  min-height: calc(100vh - 100px);

  &__nav {
    color: $color-white;
    padding: 20px 0;
    width: 300px;

    .toc-list.is-collapsible {
      .toc-list-item {
        .toc-link {
          font-size: 0.8em;
          padding: 5px 5px 5px 70px;
          line-height: 1.1em;

          .flag-summary{
            display: none;
          }

          .flag-nav {
            font-size: 0.75em;
            margin-right: 10px;

            &.flagged {
              color: $color-red;
            }
          }
        }
      }
    }

    .toc-list {
      padding: 0;
      list-style-type: none;

      &-item {
        .toc-link {
          display: flex;
          align-items: center;
          text-decoration: none;
          padding: 10px 25px;
          font-weight: 600;
          font-size: 1.1em;
          transition: all 300ms ease;

          &.is-active-link,
          &:hover {
            background-color: $color-gray-light;
          }

          .section__header-title {
            display: flex;
            align-items: center;
          }

          svg {
            min-width: 25px;
            width: 25px;
            fill: $color-white;
            margin-right: 20px;
          }

          .flag-header:not(.flagged) {
            display: none;
          }

          .flag-header {
            font-size: 0.7em;
            margin-left: 5px;
            color: $color-red;
            vertical-align: middle;
          }

          .chevron {
            display: none;
          }
        }
      }
    }
  }

  &__nav-wrapper {
    min-height: calc(100vh - 100px);
    width: 300px;
    min-width: 300px;
    background-color: $color-gray-dark;
  }

  &__display {
    flex: 1;
    background-color: $color-gray-lightest;

    &-title {
      background-color: $color-blue;
      color: $color-white;
      text-align: center;
      font-size: 1.5em;
      font-weight: 600;
      padding: 15px;

      svg {
        margin-right: 20px;
      }
    }

    .sections {
      .Collapsible {
        &__trigger {
          cursor: pointer;

          &.is-open {
            .chevron {
              transform: rotateZ(90deg);
            }
          }
        }

        .section__header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: $color-black;
          color: $color-white;
          padding: 15px 25px;
          font-weight: 400;
          margin: 2px 0;

          &-title {
            display: flex;
            align-items: center;
          }

          svg {
            min-width: 25px;
            width: 25px;
            margin-right: 15px;
            fill: $color-white;
          }

          .flag-header:not(.flagged) {
            display: none;
          }

          .flag-header {
            font-size: 0.6em;
            margin-left: 5px;
            color: $color-red;
            vertical-align: middle;
          }

          .chevron {
            transition: transform 500ms;
          }
        }
      }

      .sub-section {
        background-color: $color-white;
        margin: 20px;

        .no-entries {
          padding: 10px 18px;
          font-style: italic;
          color: $color-gray-light;

          .flag-no-entry {
            margin-right: 12px;
            font-size: 0.8em;
            color: transparent;

            &.flagged {
              color: $color-red;
            }
          }
        }

        &__header {
          display: flex;
          align-items: center;
          border-bottom: 1px solid $color-gray-lighter;
          padding: 20px 40px;
          font-weight: 600;

          .flag-nav,
          .flag-summary:not(.flagged) {
            display: none;
          }

          .flag-summary {
            font-size: 0.7em;
            margin-left: 5px;
            color: $color-red;
          }
        }

        .table {
          padding-bottom: 20px;

          .sub-section__table {
            width: 100%;
            border-collapse: collapse;

            tbody tr:hover {
              background-color: lighten($color-blue, 30%);
            }

            td,
            th {
              text-align: left;
              vertical-align: top;
            }

            th {
              padding: 0 20px 20px 0;
              white-space: nowrap;

              span {
                padding-bottom: 5px;
                border-bottom: 2px solid $color-blue;
              }
            }

            td:not(:first-child) {
              min-width: 100px;
            }

            td {
              padding-right: 20px;

              .flag-entry {
                font-size: 0.8em;
                margin-left: 16px;
                color: transparent;

                &.flagged {
                  color: $color-red;
                }
              }
            }

            .flag-col {
              width: 40px;
              max-width: 40px;
              padding: 0;
            }
          }
        }
      }
    }

    .dev-tools {
      margin: 40px;

      button {
        background-color: transparent;
        color: darken($color-blue, 10%);
        font-size: 0.9em;
        font-weight: 600;
        border: 0;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }

      .cql-errors,
      .fhir-queries,
      .cql-results {
        margin-left: 40px;
      }

      .fhir-query,
      .cql-results div,
      .cql-errors table {
        margin-left: 40px;
        background-color: $color-white;
        padding: 10px 20px;
        width: 50vw;
        overflow: scroll;
      }
    }
  }
}
