.summary {
  display: flex;
  min-height: calc(100vh - 100px);

  &__nav {
    color: $color-white;
    padding: 20px 0;
    width: 300px;
    z-index: 1;

    .toc-list.is-collapsible {
      .toc-list-item {
        .toc-link {
          font-size: 0.9em;
          padding: 5px 5px 5px 70px;
          line-height: 1.1em;

          .info-icon {
            display: none;
          }

          .flag-nav {
            font-size: 0.8em;
            margin-right: 10px;

            &.flagged {
              color: $color-red;
            }
          }
        }
      }
    }

    .toc-list {
      padding: 0;
      list-style-type: none;

      &-item {
        .toc-link {
          display: flex;
          align-items: center;
          text-decoration: none;
          padding: 10px;
          font-weight: 600;
          font-size: 1.1em;
          transition: all 300ms ease;

          &.is-active-link,
          &:hover {
            background-color: $color-gray-light;
          }

          .section__header-title {
            display: flex;
            align-items: center;
          }

          svg {
            min-width: 25px;
            width: 25px;
            fill: $color-white;
            margin-right: 20px;
          }

          .flag-header:not(.flagged) {
            display: none;
          }

          .flag-header {
            font-size: 0.9em;
            margin-left: 5px;
            color: $color-red;
            vertical-align: middle;
          }

          .chevron {
            display: none;
          }
        }
      }
    }
  }

  &__nav-wrapper {
    min-height: calc(100vh - 100px);
    width: 300px;
    min-width: 300px;
    background-color: $color-gray-dark;
  }

  &__display {
    flex: 1;
    background-color: $color-gray-lightest;
    z-index: 10;

    &-title {
      background-color: $color-blue;
      color: $color-white;
      text-align: center;
      font-size: 1.5em;
      font-weight: 600;
      padding: 15px;
      margin-bottom: 4px;

      svg {
        margin-right: 20px;
      }
    }

    .sections {
      .Collapsible {
        &__trigger {
          cursor: pointer;

          &.is-open {
            .chevron {
              transform: rotateZ(90deg);
            }
          }
        }

        .section__header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: $color-black;
          color: $color-white;
          padding: 15px 25px;
          font-weight: 400;
          margin: 2px 0;

          &-title {
            display: flex;
            align-items: center;
          }

          svg {
            min-width: 25px;
            width: 25px;
            margin-right: 15px;
            fill: $color-white;
          }

          .flag-header:not(.flagged) {
            display: none;
          }

          .flag-header {
            font-size: 0.7em;
            margin-left: 5px;
            color: $color-red;
            vertical-align: middle;
          }

          .chevron {
            transition: transform 500ms;
          }
        }
      }

      .sub-section {
        background-color: $color-white;
        margin: 20px;

        .info-icon {
          margin-left: 5px;
          font-size: 0.9em;
          color: $color-blue;
          cursor: pointer;
        }

        .no-entries {
          padding: 10px 18px;
          font-style: italic;
          color: $color-gray-light;

          .flag-no-entry {
            margin-right: 12px;
            font-size: 1em;
            color: transparent;

            &.flagged {
              color: $color-red;
            }
          }
        }

        &__header {
          display: flex;
          align-items: center;
          border-bottom: 1px solid $color-gray-lighter;
          padding: 20px 40px;
          font-weight: 600;

          .flag-nav {
            display: none;
          }
        }

        .table {
          padding-bottom: 20px;

          .sub-section__table {
            border: 0;

            .rt-th:first-child,
            .rt-td:first-child {
              max-width: 35px;
              padding: 0;
            }

            .rt-th:nth-child(2),
            .rt-td:nth-child(2) {
              min-width: calc(100px + 20vw);
              max-width: calc(100px + 20vw);
            }

            .flag-entry {
              font-size: 1em;
              margin-left: 16px;
              padding-top: 10px;
              color: transparent;
              cursor: default;

              &.flagged {
                color: $color-red;
              }
            }
          }

          .pagination-bottom {
            margin-top: 20px;

            .-pagination {
              box-shadow: none;
              border-top: 1px solid $color-gray-lighter;

              button {
                width: 96%;
              }
            }
          }
        }
      }
    }

    .cdc-disclaimer {
      margin: 10px 0 0 40px;

      a {
        margin: 0 5px;
      }
    }

    .dev-tools {
      margin: 40px;

      &__disclaimer {
        margin-top: -20px;
      }

      button {
        background-color: transparent;
        color: darken($color-blue, 10%);
        font-size: 0.9em;
        font-weight: 600;
        border: 0;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }

      .cql-errors,
      .fhir-queries,
      .cql-results,
      .qrobs-results{
        margin-left: 40px;
      }

      .fhir-query,
      .qrobs-results div,
      .cql-results div,
      .cql-errors table {
        margin-left: 40px;
        background-color: $color-white;
        padding: 10px 20px;
        width: 50vw;
        overflow: scroll;
      }
    }
  }
}

.summary-tooltip {
  font-size: 1em;
}
