/* ------------------------- IMPORT VARIABLES ------------------------------ */
@import "elements/variables";

/* ------------------------- IMPORT 3RD PARTY VENDORS ---------------------- */

/* ------------------------- IMPORT CUSTOM SCSS ---------------------------- */
// site-wide elements
@import "elements/base";

// component-specific

// vendors

/* ------------------------- FONTS ----------------------------------------- */

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
