#skiptocontent a {
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0px;
  color: $color-white;
  border-right: 1px solid $color-white;
  border-bottom: 1px solid $color-white;
  border-bottom-right-radius: 8px;
  background: $color-red-dark;
  transition: top 1s ease-out;
  z-index: 100;

  &:focus {
    position: absolute;
    left: 0px;
    top: 0px;
    outline-color: transparent;
    transition: top .1s ease-in;
  }
}