.banner {
  text-align: center;
  padding: 20px;

  &.error {
    background-color: lighten($color-red, 15%);
    color: darken($color-red, 15%);
  }

  &.warning {
    background-color: lighten($color-yellow, 25%);
    color: $color-gray-dark;
  }

  &.inclusion-banner,
  &.exclusion-banner {
    padding: 20px 24px 20px 24px;
    //margin-bottom: 10px;
    margin-bottom: 4px;
    text-align: left;
    background-color: $color-beige;

    &__tag {
      margin-bottom: 20px;
    }

    strong {
      color: $color-orange;
    }

    .warning-inside {
      width: 450px;
      background-color: lighten($color-orange, 52%);
      color: $color-orange;
      padding: 10px;
      font-weight: 600;
    }

    .close-button {
      float: right;
      color: $color-gray;
      font-size: 1.2em;
      cursor: pointer;
    }
  }

  &.exclusion-banner {
    font-size: 1.1em;
  }

  .exclusion-banner,
  .inclusion-banner {
    &__description {
      color: $color-black;
    }
  }
}
