//-------------------------- Colors -----------------------------------------//
$color-black: #37404e;
$color-white: #fff;
$color-blue: #81c4cb;
$color-gray-dark: #64707e;
$color-gray: #a3aeaf;
$color-yellow: #f8c855;
$color-red: #ffa4a4;

//-------------------------- Borders ----------------------------------------//

//-------------------------- Spacing ----------------------------------------//

//-------------------------- Fonts ------------------------------------------//

// ------------------------- PATHS ----------------------------------------- //
$fa-font-path: '/assets/fontawesome';
